[user]
  name = Jason Daly
  email = jason@deefour.me

[diff]
  external = difft

[color]
  ui = auto

[alias]
  ci = "!git commit -S --no-edit"
  ap = add --all -p
  amend = commit --amend -S
  aa = add --all
  b = "git --no-pager branch -vv --sort=-committerdate"
  br = "!git b | head"
  l = "!git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

[merge]
  tool = vimdiff
  commit = no

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[push]
	default = current

[help]
	autocorrect = 1

[fetch]
prune = true

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true
[pull]
	rebase = true
